[domain/{{sssd_domain}}]
id_provider = ldap
auth_provider = ldap

cache_credentials = True

autofs_provider = ldap
chpass_provider = ldap

ldap_uri = {{ ldap_uri }}
ldap_search_base = {{ ldap_base }}
enumerate = true

ldap_id_use_start_tls = {{ ldap_id_use_start_tls }}
ldap_tls_cacertdir = /etc/openldap/cacerts

debug_level = 0xFFF0

[sssd]
services = nss, pam, autofs

domains = {{ nfs_domain }}

[nss]
homedir_substring = /home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]

[secrets]
